<div class="row">
    <div class="col-md-4 mb-4">
        <form class="card p-2 mb-3">
            <div class="form-group">
                <label for="note-search-input">Search note (by the title)</label>
                <input type="text" class="form-control" id="note-search-input" placeholder="Search...">
            </div>
        </form>

        <form class="card p-2 mb-3" id="note-add-form">
            <label for="note-add-input">Add notes</label>
            <div class="input-group">
                <input type="text" id="note-add-input" class="form-control" placeholder="Add title...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Add</button>
                </div>
            </div>
        </form>

        <div id="notes-list" class="list-group mb-3"></div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3" id="note-title">Note title</h4>

                <div>
                    <button type="button" class="btn btn-secondary" id="note-editor-btn">Edit</button>
                    <button type="button" class="btn btn-primary" id="note-preview-btn">Display in Markdown</button>
                    <button type="button" class="btn btn-danger" id="note-remove-btn">Delete</button>
                </div>

                <hr class="mb-4">

                <form id="note-content-form">
                    <textarea class="form-control mb-4" id="note-content" rows="10"
                        placeholder="Note content..."></textarea>
                    <div id="note-content-preview"></div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>